@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.container {
	background: white;
}

.nav-container {
	background: steelblue;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.navbar-default {
	background: steelblue;
	background-color: steelblue;
	border-color: steelblue;
	color: #fff;
	outline-color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
	text-shadow: 0 1px 3px rgba(0,0,0,.0);
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #5e5e5e;
  text-shadow: 0 1px 3px rgba(0,0,0,.0);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,.0);
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}


body {
  padding-top: 50px;
  padding-bottom: 50px;
  background: steelblue;
  
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.row-main{
	position:relative;
	padding:15px 0px 15px 0px;
	margin:0 -15px 15px;
	border-color:#e5e5e5 #e5e5e5 #e5e5e5 #e5e5e5;
	border-style:solid;
	border-width:1px;

}